/**
 * simple-keyboard
 * Theme: hg-theme-default
 */
.hg-theme-default {
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: manipulation;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: #ececec;
  --uno-apply: 'px-1 py-[0.4375rem] rounded';
}

.hg-theme-default .hg-rows {
  --uno-apply: 'grid gap-y-1';
}

.hg-theme-default .hg-button span {
  pointer-events: none;
}

/* When using option "useButtonTag" */
.hg-theme-default button.hg-button {
  border-width: 0;
  outline: 0;
  font-size: inherit;
}

.hg-theme-default .hg-button {
  display: inline-block;
  flex-shrink: 1;
  cursor: pointer;
}

.hg-theme-default .hg-row {
  --uno-apply: 'gap-x-1';
  display: flex;
  justify-content: center;
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}

.hg-theme-default .hg-button {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
  --uno-apply: 'flex items-center justify-center h-10 p-1 rounded';
  background: white;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hg-theme-default .hg-button.hg-standardBtn {
  flex-basis: 10%;
}

.hg-theme-default .hg-button.hg-functionBtn {
  flex-basis: 15%;
}

.hg-theme-default .hg-button.hg-button-space {
  flex-basis: 40%;
}

.hg-theme-default .hg-button.hg-button-enter {
  flex-basis: 25%;
}

.hg-theme-default .hg-button.hg-button-shift {
  position: relative;
}

.hg-theme-default.hg-layout-shift .hg-button.hg-button-shift::after {
  content: '';
  border-bottom: 3px solid red;
  position: absolute;
  width: 0.75rem;
  bottom: 10%;
}

.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}

.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button-abc,
.hg-button-numbers,
.hg-button-alt {
  font-size: 0.75rem;
  line-height: 0;
}
